<!--Work Experience-->
<section id="workExperience" class="white-section">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <i class="feature-icon fas fa-check-circle"></i>
        <h3>Graphic Designer</h3>
        <span>Dabbling in Photoshop since 2011, there have been produced over 40 commissions and even more personal works.</span>
      </div>

      <div class="col-lg-4">
        <i class="feature-icon fas fa-bullseye"></i>
        <h3>Web Developer</h3>
        <span>With 3 years of experience in a multi-national company working on projects of a major banking client.</span>
      </div>

      <div class="col-lg-4">
        <i class="feature-icon fas fa-heart"></i>
        <h3>Videogame enthusiast</h3>
        <span>With a videogame thesis project, always fascinated by the interactivity and complexity of gameplay loops.</span>
      </div>
    </div>
  </div>
</section>

<!-- Carousel -->
<section id="testimonials" class="colored-section">

  <div class="container-fluid">

    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel" data-interval="10000" data-pause="hover">
      <ol class="carousel-indicators">
        <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#testimonial-carousel" data-slide-to="1"></li>
        <li data-target="#testimonial-carousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonial-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </h2>
          <div class="tstmnl-sig">
          </div>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </h2>
          <div class="tstmnl-sig">
          </div>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </h2>
          <div class="tstmnl-sig">
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>

</section>

<app-projects id="projects"></app-projects>
<app-contact id="contact"></app-contact>
