.carousel-inner {
  padding: 5% 10%;
  height: 300px;

  h2 {
    font-size: 3rem;
  }
}

.white-section {
    color: darkslategrey;
  text-align: center;
  background-color: navajowhite;
  padding: 50px 0px;
}
