h2 {
  font-family: 'Old London';
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color: white;
}

.title {
  margin: 50px 0px 50px 0px;

  > h1 {
    text-align: center;
    font-family: 'Old London';
    font-size: 10rem;
    font-weight: 100;
    margin-top: -30px;
    /*margin-bottom: -20px;*/
    line-height: 80%;
  }

  > h2 {
    font-family: 'Old London';
    text-align: center;
    font-size: 5em;
    font-weight: 100;
    line-height: 80%;
  }

  > h3 {
    font-family: 'Century Gothic';
    text-align: center;
    margin: 20px;
  }
}

.frame {
  padding: 18px;
  position: fixed;
  z-index: -1;

  &.top {
    top: 0;
    width: 100%;
  }

  &.bottom {
    bottom: 0;
    transform: scaleY(-1);
    width: 100%;
    align-content: center
  }

  .middle {
    display: block;
  }

  .corner {
    width: 7%;
    min-width: 70px;

    &.right {
      transform: scaleX(-1);
      float: right;
    }

    &.left {
      float: left;
    }
  }
}
