<div class="title">
  <h3>This is</h3>
  <h1>Eclectic Legacy</h1>
  <h2>creative studio</h2>
  <h3>by Jason G.</h3>
</div>

<!-- Nav Bar -->
<app-navbar></app-navbar>


<!--<div class="frame top">
  <img class="corner left" src="assets/images/corner-full.png" />
  <img class="corner right" src="assets/images/corner-full.png" />-->
<!--<img src="assets/images/middle.png" />-->
<!--</div>-->

<router-outlet></router-outlet>


<!--<div class="frame bottom">
  <img class="corner left" src="assets/images/corner-full.png" />
  <img class="corner right" src="assets/images/corner-full.png" />
</div>-->
