.project-container {
  background-color: navajowhite; //rgba(250,250,250,1.0);
  position: relative;
  color: rgba(50,50,50,1.0);
  font-size: 1.3rem;

  .banner-container {
    position: relative;

    h2 {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 1px 1px 10px black;
      z-index: 2;
    }
  }

  .gallery {
    position: relative;

    .scroll-container {
        padding-left: 80px;
      display: flex;
/*      overflow-x: auto;
*/      scroll-snap-type: x mandatory;
      scrollbar-width: thin;
    }

    span {
      display: block;
    }

    .arrow-left {
      left: 0;
    }

    .arrow-right {
      right: 0;
    }
    /*.arrow {
      position: absolute;
      top: 50%;
      display: block;
      z-index: 10;

      &-left {
        transform: scaleX(-1);
      }

      &-right {
        right: 0;
      }
    }*/
  }

  .project-banner {
    -webkit-filter: brightness(70%);
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .gallery-image-wrapper {
    z-index: 3;
    position: relative;
  }

  .gallery-image {
    position: relative;
    max-height: 200px;
    min-height: 50px;
    border: solid 2px white;
    margin: 20px;
  }


  .gallery-image-wrapper:hover .gallery-image {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: zoom-in;
  }

  .prompt {
    color: white;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
    transition: opacity .2s, visibility .2s;
  }

  .gallery-image-wrapper:hover .prompt {
    display: block;
    opacity: 1;
    cursor: zoom-in;
    text-shadow: 1px 1px 10px black;
  }

  .project-description {
    padding: 20px 100px;
    text-align: justify;
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  margin: 2% auto;
  width: 95%;
  position: relative;
}

.full-image {
  width: 100%;
  height: auto;

  &:hover {
    cursor: zoom-out;
  }
}

.close {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
